<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.lepradroid"
    android:versionCode="34"
    android:versionName="1.0.34" 
    android:installLocation="auto">

    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_TASKS" />
    <application
        android:debuggable="false"
        android:name="LepraDroidApplication" 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_title" 
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <receiver android:name=".Widget" android:label="@string/app_name">
	        <intent-filter>
	                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	        </intent-filter>
	        <meta-data android:name="android.appwidget.provider"
	                android:resource="@xml/widget_provider" />
		</receiver>
		<service android:name=".UpdateWidgetService"></service>
        <activity 
            android:name=".StartupActivity"
            android:label="@string/app_name" 
	        android:configChanges="orientation|keyboardHidden"
	        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
	        <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
	            <category android:name="android.intent.category.LAUNCHER" />
	        </intent-filter>
	    </activity>
        <activity android:name=".Main" android:theme="@style/StyledIndicators" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".settings.MainPreferences" android:theme="@android:style/Theme.Light" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".settings.WidgetPreferences" android:theme="@android:style/Theme.Light" android:configChanges="keyboardHidden|orientation" />
        <activity android:name=".LogonScreen" android:theme="@android:style/Theme.Light" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".PostsScreen" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".BlogsScreen" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".AuthorScreen" android:theme="@style/StyledIndicators" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".PostScreen" android:theme="@style/StyledIndicators" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".BlogScreen" android:theme="@style/StyledIndicators" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".StubScreen" android:theme="@style/StyledIndicators" android:configChanges="keyboardHidden|orientation"/>
    </application>
</manifest>