<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.lepradroid"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="LepraDroidApplication" 
        android:theme="@android:style/Theme.Light"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" android:configChanges="keyboardHidden|orientation"/>
                <category android:name="android.intent.category.LAUNCHER" android:configChanges="keyboardHidden|orientation"/>
            </intent-filter>
        </activity>
        <activity android:name=".LogonScreen"/>
        
    </application>
</manifest>